@media(max-width: 1170px) {
  .hello__title {
    font-size: 3.6rem;;
  }
  .header__list-item {
    font-size: 2rem;
  }
}

@media(max-width: 991px) {
  .header__list {
    gap: 1.6rem;
  }
  .header__list-item {
    font-size: 1.8rem;
  }
  .logo {
    font-size: 3.2rem;
  }
  .hello__title,
  .hello__text {
    margin-bottom: 3rem;
    font-size: 3rem;
  }
  .hello__title--name {
    font-size: 7rem;
  }
  .hello__social-item {
    margin-bottom: 3rem;
  }
  .portfolio__list-item {
    font-size: 1.8rem;
  }
  .portfolio__cards-info-wrapper {
    padding: 0 3rem;
  }
  .skills__content-soft-list,
  .skills__content-hard-list {
    font-size: 2rem;
  }
  .blog__content {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content-item {
    flex: 0 1 48%;
    margin-bottom: 2rem;
  }
  .content-item:nth-child(2n) {
    margin-right: initial;
  }
  .content-item__title {
    font-size: 2.4rem;
  }
}
@media(max-width: 850px) {
  main {
    padding-top: 6rem;
  }
  .header__list {
    gap: 1.2rem;
  }
  .header__list-item {
    font-size: 1.6rem;
  }
  .logo {
    font-size: 3rem;
  }
  .header__inner {
    height: 6rem;
  }
  .footer__name {
    font-size: 1.4rem;
  }
}

@media(max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  main {
    padding-top: 5rem;
  }
  .header__inner {
    height: 5rem;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    background-color: rgb(24, 54, 54);
    padding: 8rem 2.7rem 0 0;
    display: flex;
    justify-content: flex-end;
    transition: all 0.4s ease;
    overflow: auto;
  }
  .header__menu.active {
    left: 0%;
  }
  .header__list {
    flex-direction: column;
    align-items: flex-end;
    gap: 4rem;
  }
  .header__list-item {
    padding: 0;
  }
  .header__link {
    color: #fff;
    font-size: 3.4rem;
  }
  .hello__inner,
  .portfolio__inner,
  .about__inner,
  .skills__inner,
  .blog__inner,
  .contact__inner {
    padding: 7rem 0;
  }
  .portfolio__inner {
    padding-bottom: 5.5rem;
  }
  .about__inner {
    padding-bottom: 3rem;
  }
  button {
  font-size: 3rem;
  }
  .hello__button {
    position: absolute;
    bottom: 3.5rem;
    left: 100%;
    padding-left: 1rem;
    transform: translateX(25%);
    transform: translateY(50%);
  }
  .hello__social-item {
    margin-bottom: 0;
  }
  .portfolio__title {
    font-size: 4rem;
  }
  .portfolio__list {
    gap: 2rem;
  }
  .portfolio__list-item {
    font-size: 1.6rem;
  }
  .portfolio__cards-item {
    flex-basis: 32%;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-right: calc((102% - 32% * 3) / 3); 
    margin-bottom: calc((102% - 32% * 3) / 3);
  }
  .portfolio__cards-item:nth-child(4n) {
    margin-right: auto;
  }
  .portfolio__cards-item:nth-child(3n) {
    margin-right: 0;
  }
  .about {
    display: block;
    padding: 0;
  }
  .about__inner {
    width: 100%;
  }
  .about__image {
    padding: 0;
    transform: translateX(0);
    flex: 0;
    padding-bottom: 7rem;
  }
  .about__image-item {
    position: static;
  }
  .skills__content-soft-list,
  .skills__content-hard-list {
    font-size: 1.8rem;
  }
  .content-item__title {
    font-size: 2.2rem;
  }
  .content-item__text {
    font-size: 1.6rem;
  }
  .contact__text {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }
  .contact__content {
    flex-direction: column;
  }
  .contact__form {
    flex-direction: column;
  }
  .contact__form-inputs-item {
    margin-right: 0;
    width: 100%;
  }
  .contact__form-inputs-item:last-child {
    margin-bottom: 2rem;
  }
  .contact__form-textarea-item {
    height: 15rem;
  }
  .footer__social-list {
    gap: 1.5rem;
  }
  .footer__social-item {
    width: 3rem;
    height: 3rem;
  }
  .footer__social-link {
    padding: 0 0 2rem 3rem;
  }
  .footer__name {
    font-size: 1.2rem;
  }
}
@media(max-width: 650px) {
  .hello__title,
  .hello__text {
    font-size: 2.6rem;
  }
  .hello__title--name {
    font-size: 6rem;
  }
  .hello__social-item {
    width: 5rem;
  }
  button {
    font-size: 2.6rem;
  }
  .hello__button {
    transform: translateX(25%);
    transform: translateY(70%);
  }
  .portfolio__list {
    gap: 1.5rem;
  }
  .skills__content {
    justify-content: space-between;
  }
  .skills__content-hard {
    padding-right: 0rem;
  }
}
@media(max-width: 591px) {
  main {
    padding-top: 4rem;
  }
  .header__inner {
    height: 4rem;
    }
  .logo {
    font-size: 3rem;
  }
  .header__link {
    color: #fff;
    font-size: 2.4rem;
  }
  .hello__inner,
  .about__image {
    padding: 0 0 4rem 0;
    flex-direction: column-reverse;
    align-items: center;
  }
  .portfolio__inner, 
  .about__inner,
  .skills__inner,
  .blog__inner,
  .contact__inner {
    padding: 4rem 0;
  }
  .portfolio__inner {
    padding-bottom: 2.5rem;
  }
  .hello__content {
    margin-top: -2rem;
  }
  .hello__title--name {
    font-size: 5rem;
  }
  .hello__title,
  .hello__text {
    font-size: 2.2rem;
    text-align: center;
  }
  .hello__image img {
    max-width: 20rem;
  }
  .hello__social-list {
    justify-content: center;
    margin-bottom: 2em;
  }
  .hello__button {
    position: static;
    padding-left: 0;
    transform: translateX(0%);
    transform: translateY(0%);
    display: flex;
    justify-content: center;
  }
  .portfolio__cards {
    justify-content: space-between;
    gap: calc((102% - 48% * 2) / 2);
  }
  .portfolio__cards-item {
    flex-basis: 48%;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-bottom: calc((102% - 48% * 2) / 2);
  }
  .portfolio__cards-item:nth-child(4n) {
    margin-right: 0;
  }
  .portfolio__cards-item:nth-child(3n) {
    margin-right: 0;
  } 
  .portfolio__list {
    justify-content: center;
    align-items: center;
  }
  .portfolio__list-item {
    text-align: center;
    text-decoration: underline;
  }
  .portfolio__cards-info,
  .portfolio__cards-info-wrapper {
    padding: 0;
  }
  .portfolio__cards-info::after {
    margin: 0;
  }
  .portfolio__cards-info-content {
    padding: 2.5rem;
  }
  .portfolio__cards-info-title {
    font-size: 3rem;
  }
  .portfolio__cards-info-description,
  .portfolio__cards-info-stack,
  .portfolio__cards-info-date {
    font-size: 1.6rem;
  }
  .portfolio__cards-info-buttons-item {
    font-size: 1.8rem;
  }
  .portfolio__cards-info-close {
    padding: 1rem;
  }
  .portfolio__cards-info-buttons {
    display: flex;
    justify-content: space-between;
  }
  .skills__content {
    flex-direction: column;
  }
  .skills__text {
    font-size: 1.8rem;
  }
  .skills__content-title {
    padding-bottom: 2rem;
  }
  .skills__content-hard-list {
    padding-bottom: 1.5rem;
  }
  .content-item {
    flex: 0 1 100%;
    margin: auto auto 2rem auto;
  }
  .content-item:last-child {
    margin-bottom: 0;
  }
  .blog__content {
    flex-wrap: wrap;
  }
  .contact__form-button {
    right: 50%;
    transform: translateX(50%);
  }
  .footer__inner {
    flex-direction: column-reverse;
  }
  .footer__name {
    margin: 1rem;
  }
  .hello__title {
    padding-bottom: 0rem;
  }
  .footer__name {
    font-size: 1rem;
  }
}
@media(max-width: 475px) {
  .portfolio__cards {
    justify-content: center;
  }
  .portfolio__cards-item {
    flex-basis: 85%;
  }
  .portfolio__list-item {
    font-size: 1.3rem;
  }
  .portfolio__cards-info-buttons-item {
    font-size: 1.4rem;
  }
  .portfolio__cards-info-close {
    padding: 0;
  }
  .portfolio__cards-info-content {
    padding-top: 4rem;
  }
  .portfolio__cards-info-close {
    top: 3rem;
  }
  .logo {
    font-size: 2.4rem;
  }

}
@media(max-width: 375px) {
  .logo {
    font-size: 2rem;
  }
  .portfolio__list-item {
    font-size: 1.1rem;
  }
  .portfolio__cards-info-close {
    top: 4rem;
  }
  .content-item__image {
    float: none;
    clear: both;
    width: 100%;
    padding: 0;
  } 
}

/*hover*/
@media(min-width: 767px) {
  .header__link::after,
  .portfolio__list-item::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0;
    transition: width 0.5s ease-in-out;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 0%;
  }
  .portfolio__list-item:hover {
    color: #619b9b;
  }
  .header__link:hover::after,
  .portfolio__list-item:hover::after {
    width: 60%;
  }
  .portfolio__cards-image img {
    cursor: pointer;
    transition: all 0.3s;
  }
  .portfolio__cards-image img:hover {
    transform: scale(1.1);
  }
  button:hover {
    background-color: #183636;
  }
  .hello__social-item:hover,
  .footer__social-item:hover {
    transform: rotate(360deg);
    //background-color: #619b9b;
  }
  .contact__form-textarea-item:hover,
  .contact__form-inputs-item:hover {
    border-bottom: none;
    border-left: none;
    border: 1px solid#619b9b;
  }
}