.container {
}
.skills__inner {
  padding: 8rem 0;
}
.skills__title {
}
.title {
}
.skills__content {
  display: flex;
}
.skills__content-title {
  font-size: 2.4rem;
  padding-bottom: 3rem;
}

.skills__content-hard {
  flex: 0 1 50%;
}

.skills__content-soft {
  flex: 0 1 50%;
}

.skills__content-soft-list {
}
.skills__content-soft-list-item {
}

.skills__content-hard-list-item--span {
  display: inline-block;
  padding-left: 3rem;
  color: #619b9b;
  font-size: 4rem;
  font-size: 700;
}
.skills__content-hard-list {
}
.skills__content-hard-list-item {
}

