/*Подключение шрифтов*/
@import './fonts/fonts.scss';

/*Стили body*/

$mainFont: 'Nunito', sans-serif;
html {
}
body {
  font-family: $mainFont;
  font-weight: 400;
  height: 100%;
}
main {
  flex: 1;
  padding-top: 7rem;
}
a {
  font-weight: 700;
}
hr {
  background-color: rgba(0, 0, 0, 0.2);
  height: 0.1rem;
}
button {
  font-size: 4rem;
  font-family: $mainFont;
  padding: 0.25em 1em;
  border-radius: 0.1em;
  background-color: #619b9b;
  color: #fff;
  transition: all 0.3s ease;
  white-space: nowrap;
  cursor: pointer;
}
/*Ограничивающий контейнер*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}
.container {
  max-width: 141rem;
  padding: 0 1.5rem;
  width: 100%;
  margin: 0 auto;
}
.title {
  font-size: 4.4rem;
  font-weight: 700;
  padding-bottom: 3rem;
}

@import './normalize.scss';
@import './header.scss';
@import './hello.scss';
@import './portfolio.scss';
@import './about.scss';
@import './skills.scss';
@import './blog.scss';
@import './contact.scss';
@import './main.scss';
@import './footer.scss';
@import './blocks/burger.scss';
@import './blocks/popup.scss';
@import './media.scss';